{% extends '@SbSAdminLTE/Layout/base.html.twig' %}
{% block title %}Add product{% endblock %}
{% block admin_lte_logo %}
                    <a href="" class="logo">
                        <span class="logo-mini"><b>W</b>C</span>
                        <img src="../../images/Logo-Wincom.png" class="img-circle">
                    </a>
{% endblock %}

{% block admin_lte_sidebar %}
 
<ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="{{ path('product_index') }}"><i class="fa fa-product-hunt"></i> <span>Produits</span></a></li>
        <li><a href="{{ path('employees_index') }}"><i class="fa fa-users text-yellow"></i> <span>Employees</span></a></li>
        <li><a href="{{ path('transactions_index') }}"><i class="fa fa-credit-card-alt text-green"></i> <span>Transactions</span></a></li>
        <li><a href="{{ path('clients_index') }}"><i class="fa fa-user-circle-o text-aqua"></i> <span>Clients</span></a></li>
        <li><a href="{{ path('accounts_index') }}"><i class="fa fa-circle-o text-red    " aria-hidden="true"></i> <span>Comptes</span></a></li>
                   
{% endblock %}
{% block header_content %}{% endblock %}
{% block page_content %}
    <h1>Product creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-success" style="float: right;"/>
    {{ form_end(form) }}

    
            <a href="{{ path('product_index') }}" class="btn btn-info">Back to the list</a>
        
{% endblock %}
{% block admin_lte_footer %}
<footer class="main-footer">
                <div class="pull-right hidden-xs"><b>Version</b> 1.0.0</div>
                <strong>Copyright &copy; 2019-2020 <a href="">Connecti</a>.</strong>
                All rights reserved.
            </footer>
{% endblock %}