{% extends '@SbSAdminLTE/Layout/base.html.twig' %}
{% block title %}Accounts list{% endblock %}
{% block admin_lte_logo %}
                    <a href="" class="logo">
                        <span class="logo-mini"><b>W</b>C</span>
                        <img src="../../images/Logo-Wincom.png" class="img-circle">
                    </a>
{% endblock %}


{% block admin_lte_sidebar %}

<ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="{{ path('product_index') }}"><i class="fa fa-product-hunt"></i> <span>Produits</span></a></li>
        <li><a href="{{ path('employees_index') }}"><i class="fa fa-users text-yellow"></i> <span>Employees</span></a></li>
        <li><a href="{{ path('transactions_index') }}"><i class="fa fa-credit-card-alt text-green"></i> <span>Transactions</span></a></li>
        <li><a href="{{ path('clients_index') }}"><i class="fa fa-user-circle-o text-aqua"></i> <span>Clients</span></a></li>
        <li><a href="{{ path('accounts_index') }}"><i class="fa fa-circle-o text-red    " aria-hidden="true"></i> <span>Accounts</span></a></li>

{% endblock %}
{% block header_content %}{% endblock %}
{% block page_content %}
    <h1>Accounts list</h1>
              <a href="{{ path('accounts_new') }}" class="btn btn-app" style="float: right;" ><i class="fa fa-plus"></i>Add Account</a>



    <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Responsive Hover Table</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Nombre d'accès</th>
                <th>Date d'expiration</th>
                <th>Date de reception</th>
                <th>Amount</th>
                <th>Client</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for account in accounts %}

            <tr>
                <td><a href="{{ path('accounts_show', { 'id': account.id }) }}">{{ account.id }}</a></td>
                <td>{{ account.amount }}</td>
                <td>{{ account.numberaccess }}</td>
                <td>{% if account.expirationdate %}{{ account.expirationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if account.receivingdate %}{{ account.receivingdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{account.idclient.lastName}}&nbsp{{account.idclient.firstName}}</td>


                <td>
                    <div class="btn-group">
                  <a href="{{ path('accounts_show', { 'id': account.id }) }}" class="btn btn-primary">Afficher</a>
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('accounts_show', { 'id': account.id }) }}" >Afficher</a></li>
                    <li><a href="{{ path('accounts_edit', { 'id': account.id }) }}" >Modifier</a></li>
                  </ul>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>







{% endblock %}
{% block admin_lte_footer %}
<footer class="main-footer">
                <div class="pull-right hidden-xs"><b>Version</b> 1.0.0</div>
                <strong>Copyright &copy; 2019-2020 <a href="">Connecti</a>.</strong>
                All rights reserved.
            </footer>
{% endblock %}
